---
import imgMeme from '../assets/images/meme.png';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Tienda | Daarkling</title>
    </head>
    <body>
        <main>
            <p>En construcción</p>
            <h1>Próximamente</h1>
            <img src={imgMeme.src} alt="Meme Lady Cajero">
        </main>
    </body>
</html>