---
import Social from './Social.astro';
---

<footer>
  <div class="footer-left">
    <div>
      <h3>Daarkling Tattoo</h3>
      <p>Estudio privado en Clot, Barcelona</p>
    </div>
    <div>
      <h3>Navegar</h3>
      <div class="sub-footer">
        <a href="">Inicio</a>
        <a href="">Sobre mi</a>
        <a href="">Tienda</a>
        <a href="">Blog</a>
      </div>
    </div>
    <div class="sub-footer">
      <h3>Redes</h3>
      <Social platform="instagram" username="daarkling" />
      <Social platform="github" username="withastro" />
      <Social platform="youtube" username="astrodotbuild" />
    </div>
    <div>
      <h3>Habla conmigo</h3>
      <button><a href="">Enviar un mensaje</a></button>
    </div>
  </div>
</footer>