---
import Social from './Social.astro';
---

<footer>
  <div class="footer-left">
    <div>
      <h3>Daarkling Tattoo</h3>
      <p>Estudio privado en Clot, Barcelona</p>
    </div>
    <div>
      <h3>Navegar</h3>
      <div class="sub-footer">
        <a href="#">Inicio</a>
        <a href="#about">Sobre mi</a>
        <a href="https://daarkling.vercel.app/tienda">Tienda</a>
      </div>
    </div>
    <div class="sub-footer">
      <h3>Redes</h3>
      <a href="https://www.instagram.com/daarkling/" target="_blank">Instagram</a>
      <a href="https://wa.me/+34601154282" target="_blank">Whatsapp</a>
    </div>
    <div class="sub-footer">
      <h3>Documentación Legal</h3>
      <a href="#" target="_blank">Avíso Legal</a>
      <a href="#" target="_blank">Política de privacidad</a>
      <a href="#" target="_blank">Política de Cookies</a>
    </div>
  </div>
</footer>