---
import Navigation from './navigation.astro';
---
<header>
  <nav>
    <div>
      <h2>Daarkling</h2>
    </div>
    <div>
      <button aria-expanded="false" aria-controls="main-menu" class="menu">
        Menu
      </button>
    </div>
    <div id="main-menu" class="nav-links">
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/tienda/">Tienda</a>
        <a href="/blog/">Blog</a>
        <a class="btn-cta" href="#">Mensaje</a>
    </div>
  </nav>
</header>